<div class="container" id="body-container">
    <div class="row">
        {{!-- left side  --}}
        <div class="col-sm-4 right-mid-left">
            <h2>{{group_name}}</h2>

            <ol>
                {{#each users as |user|}}
                <li>{{group.user.username}}</li>
                {{/each}}
            </ol>
        </div>

        <div class="col-sm-2"></div>
        
        {{!-- MAIN CONTENT  --}}
        <div class="col-sm-6 right-mid-left">
            <ol>
                {{#each posts as |post|}}
                    <li>
                        {{post.post_title}}
                        <br />
                        | By {{post.user.username}} on {{post.created_at}}
                        <ol>
                            {{#each comments as |comment|}}
                            <li>
                                {{comment.user.username}} on {{comment.created_at}}
                                <br />
                                {{comment.comment_text}}
                            </li>
                            ====================
                            {{/each}}
                        </ol>
                    </li>
                    ============================

                {{/each}}
            </ol>
        </div>
        {{!-- right side 
        <div class="col-sm-4">
            <h2>{{group_name}}</h2>

            <ol>
                {{#each users as |user|}}
                <li>{{group.user.username}}</li>
                {{/each}}
            </ol>
        </div> --}}
    </div>
</div>