<header>

  {{> nav }}

</header>

<div class="container-fluid" id="body-container">
    <div class="row">
        {{!-- left side  --}}
        <div class="col-sm-1 right-mid-left" id="group-name">
            <h2>{{group_name}}</h2>
            <ol>
                {{!-- {{#each users as |user|}}  do not get rid of this line and the 2 below.
                This is a backend relations problem. Since there is only one user allowed to 1 group the each helper won't work.--}}
                <li>{{user.username}}</li>
                {{!-- {{/each}} --}}
            </ol>
        </div>        
        {{!-- MAIN CONTENT  --}}
        <div class="col-sm-8">
            <div class="write-post-container right-mid-left">
                <div class="user-profile">
                    <img src="images/profilepic2.jpg">
                    <div>
                        <p>{{user.username}}</p>
                        <small> Public <i class="fas fa-caret-down"></i></small>
                    </div>
                </div>

                {{!-- <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?">
                    </textarea>
                    <div class="post-links">
                        <a href="#"><i class="fas fa-video"></i>Video</a>
                        <a href="#"><i class="fas fa-image"></i>Photo</a>
                    </div>
                </div> --}}

                <div class="post-input-container">
                    <textarea rows="3" placeholder="What would you like to share?"></textarea>
                    <div class="add-post-links">
                        <a href="#"><i class="fas fa-video fa-lg"></i>Video</a>
                        <a href="#"><i class="fas fa-image fa-lg"></i>Photo</a>
                        <button class="postBtn p-1" type="submit">Post</button>
                    </div>
                </div>

            </div>

            <ol>
                {{#each posts as |post|}}
                    <li class="right-mid-left">
                        <article>
                            <h3>
                                {{post_title}}
                            </h3>
                            | By <span class="bolder-name_date">{{user.username}}</span> on <span class="bolder-name_date">{{post.created_at}}</span>
                            <section class="post-border-bottom">{{post_body}}</section>
                            <ol>
                                {{#each comments as |comment|}}
                                <li>
                                    <span class="bolder-name_date">{{comment.user.username}}</span> on <span class="bolder-name_date">{{comment.created_at}}</span>
                                    {{!-- <br /> --}}
                                    <section class="comment-border-bottom">{{comment.comment_text}}</section>
                                </li>
                                {{/each}}
                            </ol>
                        </article>
                    </li>
                {{/each}}
            </ol>
        </div>
        {{!-- right side  --}}
        <div class="col-sm-1 right-mid-left">
            <h4>Online</h4>
            <ol>
                {{!-- {{#each users as |user|}} --}}
                <li>{{user.username}}</li>
                {{!-- {{/each}} --}}
            </ol>
        </div>
    </div>
</div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/dashboard.js"></script>